# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules
*/node_modules

# Build
dist
dist-ssr
build

# Variables de entorno
.env
.env.*

# Caché
.cache
.parcel-cache
.vite
.eslintcache

# Sistema
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/*
!.vscode/extensions.json

.idea

# Archivos temporales
tmp
temp
*.tmp

# SQLite
*.sqlite
*.sqlite3

# Frontend
Frontend/node_modules
Frontend/dist

# Backend
Backend/node_modules

# Cobertura
coverage
.nyc_output